[submodule "external/ImGuizmo"]
	path = external/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/nanobind"]
	path = external/nanobind
	url = https://github.com/wjakob/nanobind
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt
[submodule "external/bullet"]
	path = external/bullet
	url = https://github.com/bulletphysics/bullet3.git
	branch = master
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
